#josh3,
#josh5,
#josh7 {
    float: right;
    width: 550px;
    padding: 100px;
    margin: 15px;
}

#josh2,
#josh4,
#josh6 {
    float: left;
    width: 550px;
    padding: 100px;
    margin: 15px;
}

#letras0,
#letras2 {
    text-align: center;
}

#letras3,
#letras5,
#letras7 {
    float: left;
    text-align: left;
    margin: 350px;
}

#letras4,
#letras6 {
    float: right;
    text-align: left;
    margin: 350px;
}

#contenedor {
    line-height: 20px;
}