                #letras0,
                #letras1,
                #letras2,
                #letras3,
                #letras4,
                #letras5,
                #letras6,
                #letras7,
                #letras8 {
                    color: rgb(90, 23, 245);
                    font-size: 25px;
                }
                
                body {
                    display: flex;
                    flex-wrap: wrap;
                    min-width: 250px;
                    margin-bottom: 0px;
                    max-width: 720px;
                    margin: 20px;
                }